.sidebar {
  height: 100%;
  width: 240px;
  position: fixed;
  background: #290e8b;
  transition: all 0.5s ease;
}

.sidebar.active {
  width: 60px;
}

.sidebar .logo-container {
  height: 80px;
  display: flex;
  align-items: center;
}

.sidebar .logo-container i {
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  min-width: 60px;
  text-align: center;
}

.sidebar .logo-container .page-name {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  margin-left: 20px;
}

.main-section {
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  position: relative;
  background: #f5f5f5;
  transition: all 0.5s ease;
}

.main-section nav {
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 100;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #fff;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}

@media (max-width: 1240px) {
  .sidebar {
    width: 60px;
  }

  .sidebar.active {
    width: 220px;
  }

  .main-section {
    width: calc(100% - 60px);
    left: 60px;
  }

  .main-section nav {
    width: calc(100% - 60px);
    left: 60px;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 0;
  }

  .main-section {
    width: 100%;
    left: 0;
  }

  .main-section nav {
    width: 100%;
    left: 0;
  }
}