.wrapper {
  width: 100%;
}

.container {
  margin: auto;
  width: 458px;
  background-color: #fff;
  border: 1px solid #dddfe2;
  border-radius: 3px;
  box-shadow: none;
  margin-bottom: 30px;
  margin-top: 10px;
}

.ad-image {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.ad-content {
  align-items: center;
  background-color: #f0f2f5;
  border-bottom: 1px solid #dddfe2;
  cursor: pointer;
  margin: 0;
  padding: 12px 16px;
  position: relative;
  top: -7px;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }

  .ad-image {
    width: 100%;
    height: 160px;
    object-fit: cover;
  }
}